In [1]:
# Install the required libraries
!pip install prophet
!pip install google

Requirement already satisfied: prophet in /opt/anaconda3/lib/python3.12/site-packages (1.1.5)
Requirement already satisfied: cmdstanpy>=1.0.4 in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (1.2.4)
Requirement already satisfied: numpy>=1.15.4 in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (1.26.4)
Requirement already satisfied: matplotlib>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (3.9.2)
Requirement already satisfied: pandas>=1.0.4 in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (2.2.3)
Requirement already satisfied: holidays>=0.25 in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (0.57)
Requirement already satisfied: tqdm>=4.36.1 in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (4.66.4)
Requirement already satisfied: importlib-resources in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (6.4.5)
Requirement already satisfied: stanio<2.0.0,>=0.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from cmdstanpy>=1.0.4->prophet) (0.5.1)
Requirement already satisfied: python-dateutil in /opt/anaconda3/lib/python3.12/site-packages (from holidays>=0.25->prophet) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (23.2)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.4->prophet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.4->prophet) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil->holidays>=0.25->prophet) (1.16.0)
Requirement already satisfied: google in /opt/anaconda3/lib/python3.12/site-packages (3.0.0)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.12/site-packages (from google) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4->google) (2.5)

In [18]:
# Import the required libraries and dependencies
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
from prophet import Prophet

%matplotlib inline

In [3]:
# Upload the scarf-google-trends-data.csv file
from google.colab import files

uploaded = files.upload("Resources/scarf-google-trends-data.csv")

ModuleNotFoundError: No module named 'google.colab'

In [29]:
# Read the data from the scarf-google-trends-data.csv file into a Pandas DataFrame
df_alpaca = pd.read_csv("../Resources/scarf-google-trends-data.csv")

# Review the DataFrame
df_alpaca.head()

       week  canada  uruguay
0   11/8/15      74       17
1  11/15/15      81       17
2  11/22/15      94       17
3  11/29/15      92        0
4   12/6/15      87       18

### Plotting the general trends

In [38]:
# Plot the general trends
df_alpaca.plot(ax=ax)

In [54]:
# Create a DataFrame for Canada to include the week and canada columns
CA_df = df_alpaca[["canada", "week"]]

# Rename the columns to the Prophet model syntax
CA_df = CA_df.rename(columns={"canada": "y", "week": "ds"})
CA_df.ds = pd.to_datetime(CA_df.ds)

# Review the Canada DataFrame
CA_df

/var/folders/xb/d85yy9110sqclp4qr8br64_w0000gn/T/ipykernel_86708/1755131807.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  CA_df.ds = pd.to_datetime(CA_df.ds)

      y         ds
0    74 2015-11-08
1    81 2015-11-15
2    94 2015-11-22
3    92 2015-11-29
4    87 2015-12-06
..   ..        ...
255  33 2020-09-27
256  38 2020-10-04
257  43 2020-10-11
258  42 2020-10-18
259  43 2020-10-25

[260 rows x 2 columns]

In [55]:
# Create a DataFrame for Uruguay to include the week and uruguay columns
UR_df = df_alpaca[["uruguay", "week"]]

# Rename the columns to the Prophet model syntax
UR_df = UR_df.rename(columns={"uruguay": "y", "week": "ds"})
UR_df.ds = pd.to_datetime(UR_df.ds)
# Review the Uruguay DataFrame
UR_df

/var/folders/xb/d85yy9110sqclp4qr8br64_w0000gn/T/ipykernel_86708/1385617997.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  UR_df.ds = pd.to_datetime(UR_df.ds)

      y         ds
0    17 2015-11-08
1    17 2015-11-15
2    17 2015-11-22
3     0 2015-11-29
4    18 2015-12-06
..   ..        ...
255  14 2020-09-27
256  15 2020-10-04
257  15 2020-10-11
258  14 2020-10-18
259   0 2020-10-25

[260 rows x 2 columns]

In [56]:
# Create a Prophet model for Canada
canada_model = Prophet()

In [57]:
# Create a Prophet model for Uruguay
uruguay_model = Prophet()

In [58]:
# Fit the Canada Prophet model
canada_model.fit(CA_df[["y", "ds"]])

20:34:35 - cmdstanpy - INFO - Chain [1] start processing

20:34:35 - cmdstanpy - INFO - Chain [1] done processing

In [59]:
# Fit the Uruguay Prophet model
uruguay_model.fit(UR_df[["y", "ds"]])

20:34:39 - cmdstanpy - INFO - Chain [1] start processing

20:34:39 - cmdstanpy - INFO - Chain [1] done processing

In [62]:
# Forecast one year of weekly future trends data for Canada
future_canada = canada_model.make_future_dataframe(periods=10)

# Display the last five rows of the future_canada DataFrame
future_canada.tail()

            ds
265 2020-10-31
266 2020-11-01
267 2020-11-02
268 2020-11-03
269 2020-11-04

In [63]:
# Forecast one year of weekly future trends data for Uruguay
future_uruguay = uruguay_model.make_future_dataframe(periods=10)

# Display the last five rows of the future_uruguay DataFrame
future_uruguay.tail()

            ds
265 2020-10-31
266 2020-11-01
267 2020-11-02
268 2020-11-03
269 2020-11-04

In [64]:
# Make predictions for Canada using the future_canada DataFrame
forecast_canada = canada_model.predict(future_canada)

# Display the first five rows of the forecast_canada DataFrame
forecast_canada.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2015-11-08,46.042200,68.875831,80.821523,46.042200,46.042200,28.548056,28.548056,28.548056,28.548056,28.548056,28.548056,0.0,0.0,0.0,74.590256
1,2015-11-15,45.945981,72.361728,84.660546,45.945981,45.945981,32.940642,32.940642,32.940642,32.940642,32.940642,32.940642,0.0,0.0,0.0,78.886624
2,2015-11-22,45.849763,75.542854,87.692117,45.849763,45.849763,36.026183,36.026183,36.026183,36.026183,36.026183,36.026183,0.0,0.0,0.0,81.875946
3,2015-11-29,45.753544,78.386329,90.691335,45.753544,45.753544,38.867068,38.867068,38.867068,38.867068,38.867068,38.867068,0.0,0.0,0.0,84.620612
4,2015-12-06,45.657326,80.890296,93.725594,45.657326,45.657326,41.703221,41.703221,41.703221,41.703221,41.703221,41.703221,0.0,0.0,0.0,87.360547

In [65]:
# Make predictions for Uruguay using the future_uruguay DataFrame
forecast_uruguay = canada_model.predict(future_uruguay)


# Display the first five rows of the forecast_uruguay DataFrame
forecast_uruguay.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2015-11-08,46.042200,68.616384,80.764869,46.042200,46.042200,28.548056,28.548056,28.548056,28.548056,28.548056,28.548056,0.0,0.0,0.0,74.590256
1,2015-11-15,45.945981,72.413866,84.856717,45.945981,45.945981,32.940642,32.940642,32.940642,32.940642,32.940642,32.940642,0.0,0.0,0.0,78.886624
2,2015-11-22,45.849763,75.739881,88.030479,45.849763,45.849763,36.026183,36.026183,36.026183,36.026183,36.026183,36.026183,0.0,0.0,0.0,81.875946
3,2015-11-29,45.753544,77.991397,90.843708,45.753544,45.753544,38.867068,38.867068,38.867068,38.867068,38.867068,38.867068,0.0,0.0,0.0,84.620612
4,2015-12-06,45.657326,81.230276,93.774920,45.657326,45.657326,41.703221,41.703221,41.703221,41.703221,41.703221,41.703221,0.0,0.0,0.0,87.360547