In [12]:
# Install the required libraries
!pip install prophet
!pip install google

Requirement already satisfied: prophet in /opt/anaconda3/lib/python3.12/site-packages (1.1.5)
Requirement already satisfied: cmdstanpy>=1.0.4 in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (1.2.4)
Requirement already satisfied: numpy>=1.15.4 in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (1.26.4)
Requirement already satisfied: matplotlib>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (3.9.2)
Requirement already satisfied: pandas>=1.0.4 in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (2.2.3)
Requirement already satisfied: holidays>=0.25 in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (0.57)
Requirement already satisfied: tqdm>=4.36.1 in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (4.66.4)
Requirement already satisfied: importlib-resources in /opt/anaconda3/lib/python3.12/site-packages (from prophet) (6.4.5)
Requirement already satisfied: stanio<2.0.0,>=0.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from cmdstanpy>=1.0.4->prophet) (0.5.1)
Requirement already satisfied: python-dateutil in /opt/anaconda3/lib/python3.12/site-packages (from holidays>=0.25->prophet) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (23.2)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=2.0.0->prophet) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.4->prophet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.4->prophet) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil->holidays>=0.25->prophet) (1.16.0)
Collecting google
  Using cached google-3.0.0-py2.py3-none-any.whl.metadata (627 bytes)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.12/site-packages (from google) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4->google) (2.5)
Using cached google-3.0.0-py2.py3-none-any.whl (45 kB)
Installing collected packages: google
Successfully installed google-3.0.0

In [9]:
# Import the required libraries and dependencies
import pandas as pd
import datetime as dt
from prophet import Prophet

%matplotlib inline

In [14]:
# Upload the scarf-google-trends-data.csv file
from google.colab import files

uploaded = files.upload("Resources/scarf-google-trends-data.csv")

ImportError: cannot import name 'files' from 'google' (unknown location)

In [20]:
# Read the data from the scarf-google-trends-data.csv file into a Pandas DataFrame
df_alpaca = pd.read_csv("Resources/scarf-google-trends-data.csv")

# Review the DataFrame
df_alpaca.head()

       week  canada  uruguay
0   11/8/15      74       17
1  11/15/15      81       17
2  11/22/15      94       17
3  11/29/15      92        0
4   12/6/15      87       18

### Plotting the general trends

In [24]:
# Plot the general trends
df_alpaca.plot(ax=ax)

NameError: name 'ax' is not defined

In [1]:
# Create a DataFrame for Canada to include the week and canada columns
CA_df = df_alpaca[["canada", "week"]]

# Rename the columns to the Prophet model syntax


# Review the Canada DataFrame

NameError: name 'df_alpaca' is not defined

In [7]:
# Create a DataFrame for Uruguay to include the week and uruguay columns


# Rename the columns to the Prophet model syntax


# Review the Uruguay DataFrame

         ds   y
0   11/8/15  17
1  11/15/15  17
2  11/22/15  17
3  11/29/15   0
4   12/6/15  18

In [8]:
# Create a Prophet model for Canada

In [9]:
# Create a Prophet model for Uruguay

In [10]:
# Fit the Canada Prophet model

INFO:numexpr.utils:NumExpr defaulting to 2 threads.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [11]:
# Fit the Uruguay Prophet model

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [12]:
# Forecast one year of weekly future trends data for Canada


# Display the last five rows of the future_canada DataFrame

            ds
307 2021-09-26
308 2021-10-03
309 2021-10-10
310 2021-10-17
311 2021-10-24

In [13]:
# Forecast one year of weekly future trends data for Uruguay


# Display the last five rows of the future_uruguay DataFrame

            ds
307 2021-09-26
308 2021-10-03
309 2021-10-10
310 2021-10-17
311 2021-10-24

In [14]:
# Make predictions for Canada using the future_canada DataFrame


# Display the first five rows of the forecast_canada DataFrame

          ds      trend  ...  multiplicative_terms_upper       yhat
0 2015-11-08  46.046115  ...                         0.0  74.590955
1 2015-11-15  45.949933  ...                         0.0  78.887207
2 2015-11-22  45.853751  ...                         0.0  81.877529
3 2015-11-29  45.757569  ...                         0.0  84.623042
4 2015-12-06  45.661387  ...                         0.0  87.363045

[5 rows x 16 columns]

In [15]:
# Make predictions for Uruguay using the future_uruguay DataFrame


# Display the first five rows of the forecast_uruguay DataFrame

          ds      trend  ...  multiplicative_terms_upper       yhat
0 2015-11-08  33.346622  ...                         0.0  26.263750
1 2015-11-15  33.301449  ...                         0.0  22.953485
2 2015-11-22  33.256275  ...                         0.0  17.360902
3 2015-11-29  33.211102  ...                         0.0  13.733966
4 2015-12-06  33.165929  ...                         0.0  14.693202

[5 rows x 16 columns]